{% load static %}
<style>
    #answers > p {
        padding-left: 7%;
    }
</style>
{% if answers %}
    <div class="col-xl-12">
        <h4>{{ answers.count }} Answers</h4>
        <div id="answers" class="col-xl-12 card">
            {% for answer in answers %}
                <div class="col-xl-12">
                    <div class="col-md-1" style="float: left; height: auto; text-align: center; overflow: auto">
                        <div class="mt-3">
                            <a href="{% url 'voting' single_question.pk 1 %}"><img
                                    src="{% static 'Images/Icons/plus.png' %}"
                                    height="35px" alt=""></a>
                        </div>
                        <div class="mt-3">
                            <h4>{{ single_question.votes }}</h4>
                        </div>
                        <div class="mt-3">
                            <a href="{% url 'voting' single_question.pk 0 %}"><img
                                    src="{% static 'Images/Icons/minus.png' %}"
                                    height="35px" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-12 card-body p-3 pl-2" style="min-height: 200px;">
                        <h6>{{ answer.answer | safe }}</h6>
                    </div>
                    <div class="col-xl-12">
                        <div class="col-xl-9" style="float:left;">
                            <div class="mt-5">
                                <a href="">share</a>
                            </div>
                        </div>
                        <div class="col-xl-3 card" id="user_info_on_card" style="float:left;">
                            <div class="card-body">
                                <small>answered {{ answer.answer_at | timesince | lower }} ago</small>
                                <div>
                                    <img src="" alt="Image" style="border: 1px solid black">
                                    <a href="">{{ answer.answer_by }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>
{% endif %}
