{% load static %}

{% if answers %}
    <div class="col-xl-12">
        <h4>{{ answers.count }} Answers</h4>
        <hr>
        <div id="answers" class="col-xl-12">
            {% for answer in answers %}
                <div class="col-xl-12">
                    <div class="col-xl-1" style="float: left; height: 150px; text-align: center;">
                        <div class="mt-3">
                            <a href="{% url 'a_vote' answer.pk 1 single_question.pk %}">
                                <img src="{% static 'Images/Icons/plus.png' %}"
                                     height="35px" alt="">
                            </a>
                        </div>

                        <div class="mt-3">
                            <h4>{{ answer.get_vote_count }}</h4>
                        </div>

                        <div class="mt-3">
                            <a href="{% url 'a_vote' answer.pk -1 single_question.pk %}">
                                <img src="{% static 'Images/Icons/minus.png' %}"
                                     height="35px" alt="">
                            </a>
                        </div>

                        <div class="mt-3">
                            <a href="{% url 'final_answer' single_question.pk answer.pk %}">
                                {% if single_question.final_answer_id == answer.id %}
                                    <img src="{% static 'Images/Icons/right_answer.png' %}"
                                         height="35px" alt="">
                                {% elif single_question.asked_by == request.user %}
                                    <img id="right_answer" src="{% static 'Images/Icons/right_answer.png' %}"
                                         height="35px" alt="">
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    <div id="ans" class="col-xl-11 card p-3" style="min-height: 200px;">
                        <h6>{{ answer.answer | safe }}</h6>
                    </div>
                    <div class="col-xl-12">
                        <div class="col-xl-9" style="float:left;">
                            <div class="mt-5">
                                <a href="">share</a>
                            </div>
                        </div>
                        <div class="col-xl-3 card" id="user_info_on_card" style="float:left;">
                            <div class="card-body">
                                <small>answered {{ answer.answer_at | timesince | lower }} ago</small>
                                <div>
                                    <a href="">By {{ answer.answer_by }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>
{% endif %}
