{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'Images/Icons/rel-icon.png' %}">
    <title>
        {% block title %}
            Questions Overflow
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'CSSLibrary/bootstrap.css' %}">
    <link rel="stylesheet"
          href="{% static 'CSSLibrary/highlight.min.css' %}">
    <link rel="stylesheet" href="{% static 'Shared/app.css' %}">

</head>
<body>
{% block body %}
    {% include 'shared/_navbar.html' %}
    <div class="container">
        {% block head %}{% endblock %}
        {% block content %}{% endblock content %}
    </div>
{% endblock body %}
<script src="{% static 'JSLibrary/jquery-3.4.1.js' %}"></script>
<script src="{% static 'JSLibrary/bootstrap.js' %}"></script>
<script src="{% static 'JSLibrary/highlight.min.js' %}"></script>

<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
