{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light border">
    <div class="container">
        <a href="{% url 'home' %}" class="navbar-brand">
            <img src="{% static 'Images/Icons/logo.png' %}" height="40em" alt="overflow"> StackOverflow-Lite
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
                aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainMenu">

            <form method="post" action="{% url 'home' %}" class="form-inline my-3 my-lg-0 col-md-10">
                {% csrf_token %}
                <div class="p-1 bg-light rounded rounded-pill shadow-sm col-md-10">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button id="button-addon2" type="submit" class="btn btn-link text-primary">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                        <input type="search" id="search_bar" name="search_bar"
                               placeholder="Having troubled! Search any questions !!" aria-describedby="button-addon2"
                               class="form-control border-0 bg-light">
                    </div>
                </div>
            </form>

            {% if user.is_authenticated %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a href="" class="nav-link dropdown-toggle" id="userMenu"
                           data-toggle="dropdown">{{ user.username }}</a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">

                            <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                        </div>
                    </li>
                </ul>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-light">Login</a>
                <a href="{% url 'signup' %}" class="btn btn-primary">Register</a>
            {% endif %}
        </div>
    </div>
</nav>
